<footer class="text-muted">
	<div class="container">
		<p class="float-right">
			<a href="#">Qui somme nous ?</a>  -  <a href="#">Mentions légale</a>
		</p>
		<p>&copy; Copyright 2020 - Aurore Fayet</p>
	</div>
</footer>
